body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  height: 70%;
  width: 70%;
  background-color: purple;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: column; */
}

.parent > div {
  width: 100px;
  height: 100px;
  background-color: darksalmon;
  margin: 10px;
}

.parent > div:nth-child(1) {
  flex: 4;
}
.parent > div:nth-child(2) {
  flex: 3;
}
.parent > div:nth-child(3) {
  flex: 1;
}
.parent > div:nth-child(4) {
  flex: 1.5;
}
