body {
  background-color: azure;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
  background-color: blue;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
